.header-container {
  background-color: #176943; /* Warna hijau untuk header */
  padding: 60px 20px;
}

.mon {
  width: 100vw;
  position: absolute;
  top: -70px;
  left: 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header-content h2 {
  margin: 0;
  font-size: 1.2em;
  z-index: 2;
}

.notification-icon {
  font-size: 1.5em;
  color: white;
  position: relative;
}

.notification-icon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: #00e676;
  border-radius: 50%;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: -50px; /* Mengangkat card ke atas mendekati header */
}

.monitoring {
  background-color: white; /* Menetapkan latar belakang card menjadi putih */
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.header-card{
  color: black;
}

ion-header {
  box-shadow: none !important; /* Menghapus bayangan */
  border-bottom: none !important; /* Menghapus garis bawah jika ada */
}

ion-toolbar {
  box-shadow: none !important; /* Menghapus bayangan dari toolbar */
  border-bottom: none !important; /* Menghapus border bawah pada toolbar */
  --background: transparent; /* Memastikan latar belakang toolbar tidak menyebabkan garis */
}