@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.container.settings {
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;
    background-color: #176943;
}

ion-button.back {
    left: 1rem;
    width: 3rem;
}

.fw-bold.text-white {
    padding-top: 2rem;
    height: 20%;
}

.bg-white.p-3 {
    height: 80%;
}

img.start-0 {
    width: 25%;
}

// Responsive
@media only screen and (max-width: 576px) {
    .position-relative.text-white {
        padding-top: 3.5rem;
    }

    img.start-0 {
        width: 50%;
    }
}