.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    text-align: center;
    max-width: 37.5em;
    padding: 10em;

    @media (max-width: 768px) {
        padding: 2em;
    }
}

.img {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;

    @media (max-width: 768px) {
        max-width: 80%;
    }
}

.btn-purple {
    --background: #800080;
}