@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.container.language {
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;
    background-color: #176943;
}

ion-button.back {
    left: 1rem;
    width: 3rem;
}

.fw-bold.text-white {
    padding-top: 2rem;
    height: 20%;
}

.bg-white.p-3 {
    height: 80%;
}

img.position-absolute {
    right: 35%;
}

.main-content ion-button {
    --background: #fff;
    --color: #000;
    --border-radius: 3em;
    --background-activated: #999;
    --border-style: solid;
    --border-width: 0.05em;
    --border-color: #000;
    --padding-start: 1.5rem;
    --padding-end: 1.5rem;
    transition: 0.3s;
    opacity: 0.5;
    margin-right: 0.75rem;
}


.main-content ion-button.active {
    --background: #176943;
    --color: #fff;
    opacity: 1;
}

ion-accordion {
    background: white;
}

ion-accordion div {
    color: black;
}

ion-accordion ion-item ion-label {
    color: black;
    font-weight: bold;
}

// Responsive
@media only screen and (max-width: 576px) {
    img.position-absolute {
        right: 12%;
        transform: translateY(-1.3rem);
    }

    .fw-bold.text-white {
        height: 15%;
    }

    .bg-white.p-3 {
        height: 85%;
    }

    ion-accordion {
        margin-bottom: 0.5rem;
    }
}